html, body {
    
    font-size: 20px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    h1 {
        font-size: 60px;
    }
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }
html {
    width: 100%;
    height: 100vh;
    background-color: #d4e4e2;
    background-size: cover;
    background-position: center;
  }

.logo {
    width: 50px;
    margin: 10px 10px;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #080200;
}
.footer {
    border: 1px solid red;
    
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: px 0;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
.picture {
    width: 90px;
    cursor: pointer;
    margin: 10px 10px 0px 10px;
 }
 .nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
 }
 html {
    scroll-behavior: smooth; 
  }
  .main-container {
    border: 5px solid;
  }
  .section {
    width: 50%;
  }
  .main-container:first-child {
    font-size: 20px
    
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #0a0200;
  }